*{
    padding:0;
    margin:0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');



.navBar{
    padding-bottom: 20em;
    font-family: 'Roboto', sans-serif;
    background-color: #77af74;
    clip-path: polygon(0 0, 100% 0, 100% 3%, 0 79%);
    font-size:1.5em;
    margin-top:-20em;
    
}

.navAccent{
    background-color: #598457;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 0);
    height: 30em;
}

.navBarLogout{
  padding-right:4em;
  background-color: #77af74;
  color: white;
  text-decoration: none;
  border: none;
}

.navBarLink{
    color: white;
    text-decoration: none;
    font-weight: 400;
    
}



.landingCards{
    height: 600px;
    width: 400px;
}

.landingCardLeft{
    background-image:url('https://i.pinimg.com/originals/5d/18/80/5d1880ee3e02d862bbcff095a8754211.jpg');
    background-size:cover;
    border: none;
}

.landingTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    padding: 1em 1em 1em 1em;
}

.landingButtons{
    background-color:#77af74;
    color: white; 
    text-decoration: none;
    border-radius: 5em;
    margin-top: 1em;
    border: none;
    padding: 0.5em 0 0.5em 0;
}









.cardTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
}

.loginCard{
    padding: 3em 3em 3em 3em;
    width: 600px;
    min-height: 400px;
    box-shadow: 7px 2px 25px 12px rgba(0,0,0,0.21);   
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 

}

.loginLandingPage{
    display: flex;
    height: 100vh;
  
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);    
}

.loginField{
    border: none;
    border-bottom: 1px solid #ecf0f1;
}

.loginFormButtons{

    background-color:#77af74;
    color: white; 
    text-decoration: none;
    border-radius: 5em;
    padding:1em 5em 1em 5em ;
    margin-top: 1em;
    border: none;

}

.loginFormButtonContainer{
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.landingFormButtonContainer{
    display: flex;
    padding:0 3em 0 3em;
    flex-direction: column;
    justify-content: center;
    padding-top: 3em;
}











.getPlantsGroup{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50vh;

}

.plantCardTitle{
    font-size: 1.5em;
}

.plantCardHeader{
    height: 250px;
    position: relative;
    line-height: 3.5em;
    width: 350px;
    color: white;
    text-align: center;
    background:linear-gradient(180deg, #86b3e5 0%,#4384bf 100%);    
}    
.plantCardHeaderTop{
    font-size: 3em;
    font-weight: 700;
}

.plantCardHeaderBottom{
    font-size: 3em;
    font-weight: 700;
    position: absolute;
    top: 170px;
    width: 100%;
    left: 0;
    
    
}

.plantCardHeaderDays{
    position: absolute;
    width: 100%;
    top: 135px;
    left: 0;
}


.plantCardBody{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 100%;
    font-size: 1.3em;
    padding: 2em 2em 2em 2em;
}

.cardIcons{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    padding-right: 1em;
}

.cardDetails{
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
}  

.getPlantsCards{
    min-height: 400px;
    width: 350px;
    margin-top: 10vw;
    box-shadow: 2px 2px 40px 3px rgba(0,0,0,0.21);  
    margin-right: 3em;
}

.plantCardButtonContainer{
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    background: gray;  
}
.plantCardButton{
    background: gray;
    border: none;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
    
    
}

.getPlantButton{
    height: 250px;
    width: 250px;
    border-radius: 200px;
    margin-top: 10vw;
    font-size: 8em;
    font-weight: 100;
}


.plantFormButtons{
    display: flex;
    justify-content: flex-end;
}

.plantFormLink{
    color: white;
    text-align: center;
}

















.addPlantButton{
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 10em;
    z-index: 5;
}

.addPlantText{
    font-size: 8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#c1dfc4;
    z-index: 5;
}

.dashboardBackground{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);    
    height: 90vh;
    margin-top:-30em;
}

.helloDash{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 10em;
    line-height: 1em;
    font-weight: 900;
    text-align: left;
    z-index: 5;
}


.dashboardGroup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 8em;
    flex-wrap: wrap;
}